.alert .inner {
  display: block;
  padding: 6px;
  margin: 6px;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  background-color: #d4d4d4; }

.alert .close {
  float: right;
  margin: 3px 12px 0px 0px;
  cursor: pointer; }

.alert .inner, .alert .close {
  color: #585858; }

.alert input {
  display: none; }

.alert input:checked ~ * {
  -webkit-animation-name: dismiss,hide;
  animation-name: dismiss,hide;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s,100ms;
  animation-delay: 0s,100ms; }

.alert.error .inner {
  border: 1px solid #eed3d7;
  background-color: #f2dede; }

.alert.error .inner, .alert.error .close {
  color: #b94a48; }
