<div class="card c-1">
    <div class="container">
        <div class="card-title">
            <img src="" alt="">
            <p>{{name}}</p>
        </div>
        <a href={{urlRef}} target="_blanck"><img src={{`./img/${image}` }} alt="robonova"></a> 
    </div>
    <div class="container">
        <div class="card-body">
            <p class=" text-center title">Robonova 1</p>
            <p class=" text-center sub-title">Control de 17 Servo motores via Wifi en tiempo real
            </p>
        </div>
    </div>
</div>
