<section class="bg-uno ">
  <div class="grid-1">
    {{>header}}
    <div class="grid-fotos ">
      <div class="item">
        <img src="./img/escritorio.webp" alt="office">
      </div>
      <div class="item">
        <img src="./img/perro.webp" alt="chrisdog">
      </div>
      <div class="item">
        <img src="./img/robonova.webp" alt="robonova">
      </div>
      <div class="item">
        <img src="./img/expo.webp" alt="expo upvm">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="title  text-center">
      <p>Aquí puedes mirar más !!!</p>
    </div>
    <ul class="menu_footer ">
      <li>
        <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/cute-clipart/70/000000/linkedin.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/jesus.chris" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/cute-clipart/70/000000/facebook.png" alt="facebook">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/KhrisWeb" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/cute-clipart/70/000000/twitter.png" alt="twitter">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCMSAFeXqt5Qvek6xLqra29w?view_as=subscriber" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/cute-clipart/70/000000/youtube-play.png" alt="youtube">
        </a>
      </li>
    </ul>
    <br><br>
  </div>
  <hr>
</section>