<section class="grid-2 bg-dos  pt-4 pb-5 ">
    <div class="container text-right">
        <p class="title">Mi Portafolio </p>
        <p class="sub-title-tres">Puedes mirar algunos de mis códigos, algunos son ejemplos de cursos o proyectos que realizaba en la Universidad. Cada día trato de aprender algo nuevo y compartirlo.</p>
            <hr class="mt-1">
    </div>
    <div class="container-special text-left">
        <a href="https://github.com/jesus-khristian" target="_blanck" rel="noopener noreferrer">
            <img src="https://img.icons8.com/cute-clipart/240/000000/github.png" alt="github"/>
            
        </a>
    </div>
</section>
