<section class=" bg-uno pt-3 ">
    <div class="container">
        <p class="title-dos text-center">especialidad </p>
        <div class="grid-3">
            <div class="card_special c-1">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/gear.png" alt="gear">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Back-end</p>
                        <p class=" text-center sub-title">Uso <a href="https://nodejs.org/es/" target="_blanck" rel="noopener">NodeJS</a> porque me
                            permite crear aplicaciones escalables, de alto rendimiento que pueden trabajar en tiempo
                            real. Es de
                            codigo abierto y usa JavaScript al igual que el Front-end. </p>
                    </div>
                </div>

            </div>
            <div class="card_special c-2">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/web.png" alt="web">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Front-end</p>
                        <p class=" text-center sub-title">He usado algunos Motores de plantillas como  <a
                                href="https://handlebarsjs.com/" target="_blanck" rel="noopener">Handlebars</a>. Tome un curso con certificacion en <a
                                href="https://lit-element.polymer-project.org/" target="_blanck" rel="noopener">Lit-Element</a>. En diseño uso <a
                                href="https://sass-lang.com/" target="_blanck" rel="noopener">Sass</a>, <a
                                href="https://getbootstrap.com/" target="_blanck" rel="noopener">Bootstrap</a> o <a
                                href="https://materializecss.com/" target="_blanck" rel="noopener">Materialize</a>. Además me encuentro relizando un
                            curso de <a href="https://es.reactjs.org/" target="_blanck" rel="noopener">React, Hooks, Redux, MERN</a> y me parece fantastico. </p>
                    </div>
                </div>

            </div>
            <div class="card_special col-one">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/server.png" alt="server">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Data-base</p>
                        <p class=" text-center sub-title">En la Universidad usaba DB Relacionales como MySQL, Oracle,
                            pero en lo personal cuando utilizo NodeJS me gusta usar NoSQL como <a
                                href="https://www.mongodb.com/cloud" target="_blanck" rel="noopener">MongoDB</a>. </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    
</section>