 <span class="ir-arriba"><img src="https://img.icons8.com/material-rounded/60/000000/circled-chevron-up.png" alt="logo"></span>
    <section class="h-340 bg-uno">
        <div class="container hidden_log">
            <img class="myimgMovil" src="./img/jesusChristian.webp" alt="firma Jesus Christian">
        </div>
    </section>