<section class="bg-seis pt-3 pb-3">
    <div class="container">
        <p class="title text-center pb-3">especialidad &#128584;</p>

        <div class="grid-2  pt-4 bg-dos">
            <div class="container text-right">
                <p class="title-dos">Back-end</p>
                <p class="text-right sub-title-dos">Uso <strong>NodeJS</strong> porque me permite crear aplicaciones escalables, de alto rendimiento que pueden trabajar en tiempo
                real. Es de codigo abierto y usa JavaScript al igual que el Front-end.
                </p>
            </div>
            <div class="container-special text-left">
                <img src="./images/bug_fix.svg" alt="gear">
            </div>

        </div>


            <div class="grid-2 bg-dos">
                <div class="container-special text-right">
                    <img src="./images/website.svg" alt="gear">
                </div>
                    <div class="container text-left">
                        <p class="title-dos">Frond-end</p>
                        <p class="text-left sub-title-dos">He usado algunos Motores de plantillas como Handlebars. Tome un curso con certificacion en Lit-Element. En diseño CSS uso Sass, Bootstrap o Materialize, algun enpaquetador de modulos como <strong>WebPack</strong> . Además de realizar algunos cursos de React con sus principales herramientas como Hooks, Redux los cuales me parecen fantasticos 🤪. Además algunos frameworks como NEXTjs.</p>
                    </div>
            </div>


                <div class="grid-2 bg-dos">
                        <div class="container text-right">
                            <p class="title-dos">Base de datos</p>
                            <p class="text-right sub-title-dos">
                                En la Universidad usaba DB Relacionales como MySQL, Oracle,
                                                            pero en lo personal cuando utilizo NodeJS me gusta usar NoSQL como MongoDB y algunos ORM como Sequelize u ODM como Mongoose.
                            </p>
                        </div>
                        <div class="container-special text-left">
                            <img src="./images/data.svg" alt="gear">
                        </div>
                </div>
    </div>

</section>
