<section class="grid-2 bg-uno  pt-4 pb-5 ">
    <div class="container text-right">
        <p class="title">Mi Portafolio </p>
        <p class="sub-title-dos">Puedes mirar algunos de mis códigos, algunos son ejemplos de cursos o proyectos que realizaba en la Universidad. Cada día trato de aprender algo nuevo y compartirlo.</p>
            <hr class="line-separator">
    </div>
    <div class="container-special text-left">
        <a href="https://github.com/jesuschristiancastillolozano" target="_blanck" rel="noopener noreferrer">
            <img src="./images/developer.svg" alt="github"/>
            
        </a>
    </div>
    
</section>
