  <a href="https://t.me/jesuschristiancastillolozano" target="_blank" rel="noopener" class="telegram-float">
      <div class="telegram-float-icon">
       
        <img  src="https://img.icons8.com/3d-fluency/86/null/telegram.png"/>
      </div>
      <div class="telegram-float-text">¡Sígueme en Telegram!</div>
    </a> 
 
 <span class="ir-arriba"><img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-Up-basic-functions-others-inmotus-design.png" alt="logo"></span>
    <section class="h-340 bg-uno">
        <div class="container hidden_log">
            <img class="myimgMovil" src="./images/jesusChristian.webp" alt="Logo Jesus Christian">
        </div>
    </section>