<section class="bg-grey">
  <div class="grid-1">
    {{>header}}
    <div class="grid-fotos">
      <div class="item">
         <img src="./images/ReadyPlayerMe-white_.webp" alt="Avatar_white Jesus christian castillo lozano">
      </div>
      <div class="item">
        <img src="./images/robonova.webp" alt="HiTec Robonova1">
      </div>
      <div class="item">
        <img src="./images/chrisFoto.webp" alt="Foto Jesus Christian Castillo Lozano">
      </div>
      <div class="item">
         <img src="./images/oso.webp" alt="Canino Oso">
      </div>
      <div class="item">
        <img src="./images/ReadyPlayerMe.webp" alt="Avatar_dune Jesus christian castillo lozano">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="title-dos  text-center">
      <p>Aquí puedes mirar un poquito más !!!</p>
    </div>
    <ul class="menu_footer ">
      <li>
        <a href="https://www.linkedin.com/in/jesuschristiancastillolozano/" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/94/null/linkedin.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/castillolozanoj" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/94/null/twitter-circled.png" alt="twitter">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@jesuschristiancastillolozano" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/94/null/youtube-play.png" alt="youtube">
        </a>
      </li>
    </ul>
    <br><br>
  </div>
 
  <hr class="div-sec">
</section>

