<section class="h-340 bg-uno">
    <div class="container hidden_log">
        <img id="myimg" src="./img/C.png" alt="">
    </div>
</section>

<section class="bg-uno ">
    <div class="grid-1">
        {{>me}}
        <div class="grid-fotos">
            <div class="item">
                <img src="./img/escritorio-min.jpg" alt="Smiley face">
            </div>
            <div class="item">
                <img src="./img/perro-min-min.jpg" alt="Smiley face">
            </div>
            <div class="item">
                <img src="./img/robonova-min.jpg" alt="Smiley face">
            </div>
            <div class="item">
                <img src="./img/expo-min.jpg" alt="Smiley face">
            </div>
        </div>
    </div>
</section>

<section class="  bg-dos text-center ">
    <div class="container ">
        <p class="title-dos">habilidades </p>
    </div>
    <div class="grid-3">
        <div class="container ">
            <div class="circular-progress html">

            </div>
        </div>
        <div class="container ">
            <div class="circular-progress css"></div>
        </div>
        <div class="container ">
            <div class="circular-progress js"></div>
        </div>
        <div class="container ">
            <div class="circular-progress nodejs"></div>
        </div>
        <div class="container ">
            <div class="circular-progress php"></div>
        </div>
        <div class="container ">
            <div class="circular-progress java"></div>
        </div>
        <div class="container ">
            <div class="circular-progress mongo"></div>
        </div>
        <div class="container ">
            <div class="circular-progress mysql"></div>
        </div>
    </div>
</section>

{{>profile}}