<main>
    <span class="ir-arriba"><img src="https://img.icons8.com/material-rounded/60/000000/circled-chevron-up.png"></span>
<section class="h-340 bg-uno">
    <div class="container hidden_log">
        <img class="myimg" src="./img/logo_chris.webp" alt="logo">
    </div>
</section>

<section class="bg-uno ">
    <div class="grid-1">
        {{>header}}
        <div class="grid-fotos ">
            <div class="item">
                <img src="./img/escritorio.webp" alt="office">
            </div>
            <div class="item">
                <img src="./img/perro.webp" alt="chrisdog">
            </div>
            <div class="item">
                <img src="./img/robonova.webp" alt="robonova">
            </div>
            <div class="item">
                <img src="./img/expo.webp" alt="expo upvm">
            </div>
        </div>
    </div>
    <div class="container">
 <div class="title  text-center">
    <p>Aquí puedes mirar ++</p> 
    </div>
  <ul class="menu_footer ">
      <li >
        <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blanck">
         <img src="https://img.icons8.com/cute-clipart/70/000000/linkedin.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/jesus.chris" target="_blanck">
           <img src="https://img.icons8.com/cute-clipart/70/000000/facebook.png" alt="facebook">
        </a>
      </li>
      <li >
        <a href="https://twitter.com/KhrisWeb" target="_blanck">
         <img src="https://img.icons8.com/cute-clipart/70/000000/twitter.png" alt="twitter">
        </a>
      </li>
      <li >
        <a href="https://www.youtube.com/channel/UCMSAFeXqt5Qvek6xLqra29w?view_as=subscriber" target="_blanck">
           <img src="https://img.icons8.com/cute-clipart/70/000000/youtube-play.png" alt="youtube">
        </a>
      </li>
  </ul>
  

<br><br>
    </div>
  <hr>
</section>

<section class=" bg-uno pt-3 ">
    <div class="container">
        <p class="title-dos text-center">especialidad </p>
        <div class="grid-3">
            <div class="card_special c-1">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/gear.png" alt="gear">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Back-end</p>
                        <p class=" text-center sub-title">Uso <a href="https://nodejs.org/es/">NodeJS</a>  porque me permite crear aplicaciones escalables, de alto rendimiento que pueden trabajar en tiempo real. Es usado por grandes Corporaciones como Netflix, Paypal, Linkedin, entre otros. Es de codigo abierto y usa JavaScript al igual que el Front-end.   </p>
                    </div>
                </div>

            </div>
            <div class="card_special c-2">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/web.png" alt="web">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Front-end</p>
                        <p class=" text-center sub-title">He usado algunos Motores de plantillas como <a href="https://ejs.co/">Ejs</a>, <a href="https://pugjs.org/api/getting-started.html">Pug</a>, aunque mi favorito es <a href="https://handlebarsjs.com/">Handlebars</a>. En diseño uso <a href="https://sass-lang.com/">Sass</a>, <a href="https://getbootstrap.com/">Bootstrap</a> o <a href="https://materializecss.com/">Materialize</a>.  Además me encuentro empezando un curso de <a href="https://es.reactjs.org/">Reactjs</a>  del cual hasta el momento he realizado ejemplos basicos y me parece fantastico.  </p>
                    </div>
                </div>

            </div>
            <div class="card_special col-one">
                <div class="container">
                 <img src="https://img.icons8.com/cute-clipart/200/000000/server.png" alt="server">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Data-base</p>
                        <p class=" text-center sub-title">En la Universidad usaba DB Relacionales como MySQL, Oracle, pero en lo personal cuando utilizo NodeJS me gusta usar NoSQL como <a href="https://www.mongodb.com/cloud">MongoDB</a>. Cabe mencionar que existen gran variedad y son excelentes, su uso depende del proyecto a realizar. </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
</section>

<section class="grid-2 bg-dos  pt-4 ">
    <div class="container text-right">
         <p class="title-tres">Sensation L3D</p>
        <p class="sub-title-tres">Es una API que pertime el control en tiempo real de luces LED RGB(multicolores) conectadas a una red Wifi. Iluminacion Inteligente a tu alcance IoT.</p>
    </div>
    <div class="container-special text-left">
        <a href="http://sensationled.herokuapp.com" target="_blanck">
        <img src="https://img.icons8.com/offices/160/000000/led-diode.png" alt="led">
        <img src="https://img.icons8.com/ultraviolet/160/000000/led-diode.png" alt="led">
        </a>
    </div>
</section>



</main>


<script src="/js/helpers.js"></script>
<script src="./js/main.js"></script> 