<main>
    {{> indexSections / sectionHeader}}

    {{> indexSections / sectionOne}}

    {{> indexSections / sectionTwo}}

    {{> indexSections / sectionThree}}


</main>


<script src="/js/helpers.js"></script>
<script src="./js/main.js"></script>
