<section class="bg-uno ">
  <div class="container text-center">
        <div class="title">
            <p>Desarrollo Web con tecnologías JS</p>
        </div>
        <br>
        <div class="sub-title">
            <p> Apasionado por los robots y amante de la tecnología.</p>
        </div>
   </div> 
</section>

<section class="grid-2 bg-dos text-center">
    <div class="container">
        <p class="title-dos">hola &Uuml;</p>
        <p class="sub-title-dos">Soy Jesús Christian Castillo. Nací en 1986, soy de Coacalco (Estado de México, México) y siempre fuí un apasionado del mundo de la tecnología y la informática, al menos desde que alcanzo a recordar. </p>
        <p class="tx">Estudié Ingeniería en informática en la Universidad Politécnica del Valle de México, dónde decidí profundizar y especializarme en la programación web.</p>
        <p class="tx"> Disfruto mucho realizar Aplicación Web usando NodeJS, eh realizado algunas Aplicaciones enfocadas a  Internet de las cosas (IoT) para el control de dispositivos vía WiFi.    </p>
        <p class="tx">En los últimos dos años tuve el gusto de colaborar con algunos maestros de la Universidad dedicados a la Investigación en donde realizamos algunas Aplicaciones Web para controlar Robots vía WiFi, uno de ellos llamado Nao hecho por Aldebaran Robotics y Robonova 1 hecho por HiTec con los cuales pude divertirme, aprender y desarrollar mis habilidades como programador. </p>
    </div>
    <div class="container">
        <img src="./img/nao.jpg" alt="Logo" class="logo2">
    </div>
    

</section>

<section class="grid-3 bg-tres text-center ">
    <div class="container col-one ">
<p class="title-dos">portafolio &Ouml;</p>
    </div>
    
    <div class="container ">

    </div>
    <div class="container ">

    </div>
    <div class="container ">

    </div>

</section>