<main>
   {{>indexSections /seccionHeader}}

    {{>indexSections /seccionOne}}

    {{>indexSections /seccionTwo}}

    {{>indexSections /seccionThree}}



</main>


<script src="/js/helpers.js"></script>
<script src="./js/main.js"></script>