@import "colors";

.bg-uno {
  background-image: linear-gradient($bg-opacity, $bg-opacity),
    url(../img/C.webp);
}

.bg-dos {
  background: $pantalla-azul;
}

.bg-tres {
  background-image: linear-gradient($bg-opacity, $bg-opacity),
    url(../img/rocket.webp);
}

.bg-cuatro {
  background: $azul;
}

.bg-cinco {
  background: $cereza-opacity;
}
