@import "colors";

.bg-uno {
  
  background-image: linear-gradient($bg-opacity, $bg-opacity),
    url(../img/33.png);
}

.bg-dos {
  background: $pantalla-azul;
 
}

.bg-tres {
  background-image: linear-gradient($bg-opacity, $bg-opacity),
    url(../img/rocket-min.png);
}
