@import "colors";

// .mybtn {
//   display: inline-block;
//   padding: 0.35em 1.2em;
//   border: 0.1em solid #000;
//   margin: 0 0.3em 0.3em 0;
//   font-size: 1.5rem;
//   width: auto;
//   border-radius: 15em;
//   box-sizing: border-box;
//   text-decoration: none;
//   color: #000;
//   text-align: center;
//   transition: all 0.2s;
//   cursor: pointer;
//   &:hover {
//     color: #000;
//     background: $gris-alphine;
//   }
// }

.formBtn {
  padding-left: 90px;
  margin-left: 0.5em;
}

.btn-right {
  margin: 0px 0px 0.3em 29.3em;
}

.btn-center {
  display: inline-block;
}

.mybtn {
  background-color: $cereza;
  color: #000000;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px $cereza;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #000000;
    color: $cereza;
    box-shadow: 0 0 20px $cereza;
  }
}


.cyberpunk-button {
  border-radius: 15px; /* Esquinas redondeadas */
  border: 3px solid #de3163; /* Borde de color #de3163 de 3px */
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  font-size: 20px; /* Tamaño de fuente */
  padding: 10px 20px; /* Relleno */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición */
  position: relative; /* Posición relativa para el efecto hover */
  overflow: hidden; /* Para ocultar la sobra en el efecto hover */
&:hover {
  transform: translate3d(0, -15px, 0); /* Efecto de movimiento */
  color: #de3163; /* Cambio de color en el hover */
}
  a {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* Elimina el subrayado del texto */
    color: inherit; /* Hereda el color del texto del elemento padre */
    cursor: pointer; /* Cambia el cursor a un cursor por defecto */
  }

}




