
@import "colors";

  .card {
    max-width: 670px;
    margin: 20px;
    border: 8px solid $bg-opacity-9;
    box-shadow: 10px 5px 5px #bcb3b6;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: inline-block;
    background: $bg-opacity-7;
    img {
        aspect-ratio: 1.45255 / 1;
        flex: 1 0 0px;
        max-width: 660px;
        height: 400px;
      }
  }
  .card-content {
    padding: 20px;
    flex: 1 1 auto;
  }
  
  .card-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .card-description {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    border: 1px solid $bg-opacity-1;
    border-radius: 15px;
  }
  
  .card-like {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $purple-white;
    width: 160px;
    border-radius: 5px;
    background-color: #de3163;
    color: $purple-white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
      }
    i {
        margin-right: 5px;
    }

    .like-count {
      margin-left: 8px;
      font-size: 28px;
      font-weight: 800;
    }
  }





