.circle-progress {
  &,
  &::before,
  &::after {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  margin: auto;
  position: relative;
  

  &::before,
  &::after {
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    
  }
  &::before {
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    line-height: 8rem;
  
  }
  &::after {
    line-height: 13rem;
  }
}


@function progress($percent){
    $deg: $percent/100 * 180;
    @return #{$deg}deg;
}

@mixin circle-progress($percent, $skill, $color, $bgcolor) {
    $progress: progress($percent);
    transform: rotate($progress);
    background: linear-gradient(0deg , $color 50%, rbga($color, .2) 50%);
    &::before,
    &::after{
        color: $color;
    }
    &::before{
        content: "#{$skill}";
        background: $bgcolor content-box;
        transform: rotate(-#{$progress});
    }
    &::after{
        content: "#{$percent}%";
        background: linear-gradient(transparent 50%, $bgcolor 50%);
        transform: scale(1.1) rotate(-#{$progress});
    }

}