//fondo de la seccion de portafolio
$pantalla-azul: #ffcccc;

//atenuacion de fondos de pantalla
$bg-opacity-6: rgba(242, 243, 244, .6);
$bg-opacity-7: rgba(242, 243, 244, .7);
$bg-opacity-9: rgba(242, 243, 244, .9);
$bg-opacity-1: rgba(242, 243, 244, 1);

//fondo barra de navegacion y botones
$cereza-opacity-3: rgba(222, 49, 99, 0.3);
$cereza-opacity-5: rgba(222, 49, 99, 0.5);

$azul-opacity-3 :rgba(57, 181, 255,0.3);
$azul-opacity-5 :rgba(57, 181, 255,0.5);

// fondo de los circulos de progreso
$cereza: #de3163;
$azul :#39b5ff;



$black-black: #000;
$bg-black: rgba(0, 0, 0, .6);
$withe: #fff;


$rosa: #de4fa8;
$rosa-palido: #dd80ba;
$purple-white: #fcfae0;

$cherry-rosa: #942e6d;
$cherry: #3b132c;
