//fondo de la seccion de portafolio
$pantalla-azul: #ffcccc;

//atenuacion de fondos de pantalla
$bg-opacity: rgba(242, 243, 244, .6);

//fondo barra de navegacion y botones
$nav_hover: rgba(222, 49, 99, 0.3);

// fondo de los circulos de progreso
$azul: #de3163 ;

$cereza-opacity: rgba(222, 49, 99, 0.3);

$black-black: #000;
$bg-black: rgba(0, 0, 0, .6);;
$rosa: #de4fa8;
$rosa-palido: #dd80ba;
$purple-white: #fcfae0;
$bg-white: rgba(242, 243, 244, .6);
$cherry-rosa: #942e6d;
$cherry: #3b132c;
