.myimg {
  display: flex;
  position: relative;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transition: width 1s, height 1s, margin-right 1s, margin-top 1s;
  width: 20rem;
  height: 20rem;
  margin-top: 4rem;
  -webkit-transition: width 1s, height 1s, margin-right 1s, margin-top 1s;
}

.logo2 {
  width: 100%;
  clip-path:  polygon(25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%, 0% 50%);
}

.logo1{
  max-width:  350px;
  height: 15rem;
  border-radius: 2%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s ease;
    border-radius: 10px;
    opacity: 0.6;
  }
  &:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.15);
    opacity: 1;
  }
}

.card {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 15rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  
  align-items: center;
  justify-content: center;
 
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #39b5ff;
  img {
    width: 100%;
    height: auto;
    
    transition: 0.8s ease;
    border-radius: 10px;
    opacity: 0.6;
  }
  &:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }

  .car-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}
.card_special {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 15rem;
    word-wrap: break-word;
    background: #fff8de;
    background-clip: border-box;
    border-radius: 15px;
   
  
  align-items: center;
  justify-content: center;
 

 
  img {
    width: 100%;
    height: auto;
    
    transition: 0.8s ease;
    border-radius: 10px;
  
  }
  &:hover img {
    -webkit-transform: scale(.8);
    transform: scale(.8);
   
  }

  .car-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  a{
    text-decoration: none;
  }
}
