@media screen and (max-width: 1400px) {
  
    .container .title {
      font-size: 1.5rem;
    }
    .container .title-dos {
      padding-top: 1rem !important;
      font-size: 3rem;
      font-weight: bold;
      padding-top: 30rem;
    }
    .container .sub-title-dos {
      font-size: 1.5rem;
    }
  
    .container .tx {
      font-size: 1.2rem;
    }
  }
  
  