@media screen and (min-width: 769px) {
  .menu {
    display: flex !important;
    li {
      text-align: center;
      flex: auto;
    }
    a {
      padding-left: 0;
    }
  }

  #toggle-menu {
    display: none;
  }

  .hamburguer-bt {
    display: none;
  }
  .hidden_log {
    display: none;
  }

}
