@media screen and (max-width: 1400px) {
  .container .title {
    font-size: 2.5rem;
  }
  .container .title-dos {
    padding-top: 1.5rem !important;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 30rem;
  }
  .container .sub-title-dos {
    font-size: 1.2rem;
  }

  .container .tx {
    font-size: 1.2rem;
  }
  .myimgMovil{
    width: 42rem !important;
  }

}
