$html: "https://img.icons8.com/color/96/000000/html-5.png";
$css: "https://img.icons8.com/color/96/000000/css3.png";
$js: "https://img.icons8.com/color/96/000000/javascript.png";
$nodejs: "https://img.icons8.com/color/96/000000/nodejs.png";
$php: "https://img.icons8.com/officel/80/000000/php-logo.png";
$java: "https://img.icons8.com/color/96/000000/java-coffee-cup-logo.png";
$mongo:  "https://img.icons8.com/color/96/000000/mongodb.png";
$mysql:   "https://img.icons8.com/ios/100/000000/mysql-logo.png";
.html{
    @include circular-progress(
      80,
      $html,
      #e85d25,
      $pantalla-azul
    );
  }
  
  .css{
    @include circular-progress(
      80,
      $css,
      #249cda,
     $pantalla-azul
    );
  }

  .js{
    @include circular-progress(
      70,
      $js,
      #f7e018,
     $pantalla-azul
    );
  }

  .nodejs{
    @include circular-progress(
      75,
      $nodejs,
      #026e00,
     $pantalla-azul
    );
  }
  .php{
    @include circular-progress(
      60,
      $php,
    rgb(0, 119, 255),
     $pantalla-azul
    );
  }
  .java{
    @include circular-progress(
      75,
      $java,
      #f60002,
     $pantalla-azul
    );
  }
  .mongo{
    @include circular-progress(
      75,
      $mongo,
      #116149,
     $pantalla-azul
    );
  }
  .mysql{
    @include circular-progress(
      70,
      $mysql,
      #4479a1,
     $pantalla-azul
    );
  }

