@import "colors";

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 
    height: 100%;
    background: $withe;
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top right;
  }