@import "colors";
$negrita: bold;



.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.3rem;
  padding: 3rem 3rem 1rem 3rem;
  font-weight: 900;
}

.title-dos {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  padding: 1rem 0 2.5rem 0;
  font-size: 2.1rem;
}
.title-tres {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  padding: 3rem 2rem 1rem 2rem;
  font-weight:700;
}
.sub-title {
  font-size: 1rem;
  font-weight: 400;
}

.sub-title-dos {
  font-size: 1.3rem;
  font-weight: 500;
}
.sub-title-tres {
  font-size: 1.6rem;
  font-weight: 600;
}

.tx {
  padding: 1rem;
  text-align: left;
  margin: auto;
  font-size: 1.3rem;
}

.form-txt {
  padding: 1rem;
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
  margin: auto;
}

.text-right {
  text-align: right;
  margin: auto;
}

.text-left {
  text-align: left;
  margin: auto;
}
.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.p-3 {
  padding: 0 8rem;
}

.pb-5 {
  padding-bottom: 5rem;
}


