<footer>
<div class="container">
  <div class="text-center">
     <ul class="menu_footer ">
      <li>
        <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blanck">
          <img src="https://img.icons8.com/cute-clipart/30/000000/linkedin.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/jesus.chris" target="_blanck">
          <img src="https://img.icons8.com/cute-clipart/30/000000/facebook.png" alt="facebook">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/KhrisWeb" target="_blanck">
          <img src="https://img.icons8.com/cute-clipart/30/000000/twitter.png" alt="twitter">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCMSAFeXqt5Qvek6xLqra29w?view_as=subscriber" target="_blanck">
          <img src="https://img.icons8.com/cute-clipart/30/000000/youtube-play.png" alt="youtube">
        </a>
      </li>
    </ul>
      <p class="sub-title">Copyright&copy; 2019 - Christian Castillo </p>
  </div>
</div>
    
</footer>