<footer class="pt-3">
<div class="container">
  <div class="text-center">
     <ul class="menu_footer ">
      <li>
        <a href="https://www.linkedin.com/in/jesuschristiancastillolozano/" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/35/null/linkedin.png" alt="linkedin icon">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/castillolozanoj" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/35/null/twitter-circled.png" alt="twitter icon">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCMSAFeXqt5Qvek6xLqra29w?view_as=subscriber" target="_blanck" rel="noopener">
          <img src="https://img.icons8.com/3d-fluency/35/null/youtube-play.png" alt="youtube icon">
        </a>
      </li>
    </ul>
    <p>Made with  ❤</p>
      <p class="sub-title">Copyright&copy; 2019 - Jesus Christian Castillo Lozano </p>
  </div>
</div>
    
</footer>