<div class="container body-form ">
    <p class="title text-center">contacto</p>
    <div class="container">
        <form action="/about-me" method="POST">
            <label for="name">*Nombre completo 📛</label>
            <input type="text" id="name" name="name" required>

            <label for="email">*Email 📧</label>
            <input type="email" id="email" name="email" required>

            <label for="message">*Mensaje 💬</label>
            <textarea id="message" name="message" required></textarea>
            <div class="container mt-1">
                <div class="g-recaptcha form-group" data-sitekey="6LdEoEYlAAAAANjmI-vLHfVncgXaJow0BurdcXut"></div>
                <div class="sub-title">
                    <p>This site is protected by reCAPTCHA and the Google</p>
                    <a href="https://policies.google.com/privacy">Privacy Policy</a>
                    and
                    <a href="https://policies.google.com/terms">Terms of Service</a>
                    apply.
                </div>
            </div>
            <input class="cyberpunk-button mt-1" type="submit" value="Enviar">
        </form>

    </div>
</div>
