<div class="title  text-center ">
     <p>Hola! Me llamo
        <strong>Jesus Christian Castillo Lozano</strong>. 
        Mi amor А por la rob贸tica y la cibertecnolog铆a me a llevado a ser un verdadero entusiasta del g茅nero CyberPunk , 
        donde puedo encontrar inspiraci贸n para mi creatividad art铆stica y mi visi贸n de la vida. 
    </p>
   {{!-- <p>
        Mi amor por la rob贸tica y la cibertecnolog铆a me a llevado a ser un verdadero entusiasta del g茅nero
        <strong>CyberPunk</strong>, donde puedo encontrar inspiraci贸n para mi creatividad art铆stica y mi visi贸n de la vida.
    </p>

    <p>
        Como artista de la vida, me gusta explorar y experimentar con diferentes enfoques y formas de pensamiento, y esto me permite ver el mundo de una manera 煤nica y personal. Esto se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes.
    </p>


    <p>
       <em>En resumen </em> , Soy un individuo apasionado y curioso que combina su amor por la tecnolog铆a y la creatividad para crear una visi贸n de la vida 煤nica e inspiradora. <strong></strong> 隆Seguro que tengo mucho que ofrecer al mundo!
    </p> --}}
    <br>
    	
       
        <button class="cyberpunk-button"> <a href="/aboutMe#contact">Cont谩cteme</a></button>

    </div>
