<div class="title  text-center ">
    <p>Hola! Me llamo <strong>Christian Castillo</strong>. Soy desarrollador Web Jr Fullstack. Me gusta mucho crear
        Aplicaciones modernas, sencillas y fáciles de usar. Me apasiona la música y además amo los Robots.
    </p>
    <br>
    <a href="/" class="mybtn">Contactame</a>
</div>