<div class="title  text-center ">
    {{!-- <p>Hola! Me llamo
        <strong>Jesus Christian Castillo Lozano</strong>. Me considero un tecnólogo con una gran pasión por la tecnología y los avances científicos, especialmente en el campo de los robots y la inteligencia artificial.
    </p>
    <p>
        Mi amor por la robótica y la cibertecnología me a llevado a ser un verdadero entusiasta del género
        <strong>CyberPunk</strong>, donde puedo encontrar inspiración para mi creatividad artística y mi visión de la vida.
    </p>

    <p>
        Como artista de la vida, me gusta explorar y experimentar con diferentes enfoques y formas de pensamiento, y esto me permite ver el mundo de una manera única y personal. Esto se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes.
    </p>


    <p>
       <em>En resumen </em> , Soy un individuo apasionado y curioso que combina su amor por la tecnología y la creatividad para crear una visión de la vida única e inspiradora. <strong></strong> ¡Seguro que tengo mucho que ofrecer al mundo!
    </p> --}}
    <br>
    	
        <a href="/aboutMe#contact" class="mybtn">Contácteme</a>
    </div>
