<div class="title  text-center ">
    <p>const yoSoy = { nombre : <strong>'Christian Castillo', </strong>  profesión : 'Desarrollador web Jr',  meGusta : 'Crear
        aplicaciones modernas, sencillas y fáciles de usar', miPasión : 'La web, la música y los Robots' };
    </p>
    <br>
    <a href="/aboutMe#contact" class="mybtn">Contactame</a>
</div>