
<nav>
    <div class="hamburguer-bt" >
      <div class="hamburguer-bt__stripe hamburguer-bt__stripe__top"></div>
      <div class="hamburguer-bt__stripe hamburguer-bt__stripe__middle"></div>
      <div class="hamburguer-bt__stripe hamburguer-bt__stripe__bottom"></div>
    </div>
 

    <ul class=" menu " >
      <li><a href="/"> Inicio </a></li>
      <li><a href="/projects"> Proyectos</a></li>
      <img class="myimg" src="./img/logo_chris.webp" alt="logo">
      <li><a href="/cv"> CV</a></li>
      <li><a href="/aboutMe"> Acerca de mi</a></li>
    </ul>
 
</nav>


