
<nav>
    
    <label for="cerrar" id="btn-cerrar"><i class="fas fa-bars fa-3x"></i></label>
    
    
    <ul class="menu">
        <li><a href="#"> acerca de </a></li>
        <li><a href=""> portafolio</a></li>
        <img id="myimg" src="./img/C.png" alt="">  
        <li><a href=""> blog</a></li>
        <li><a href=""> contacto</a></li>

    </ul>
</nav>
