
<section class=" bg-tres pt-3 ">
   <div class="container">
       <p class="title-dos text-center">proyectos </p>
        <div class="grid-3">
            <div class="card c-1">
               <a href="https://sensationled.herokuapp.com" target="_blanck"><img src="./img/sled.webp" alt="sensationL3D"></a> 
               <div class="card-body">
                   <p class=" text-center title">SensationL3D</p>
                   <p class=" text-center sub-title">Iluminación Inteligente IoT  </p>
               </div>
            </div>
            <div class="card c-2">
               <a href="https://sensationled.herokuapp.com" target="_blanck"><img src="./img/sled.webp" alt="sensationL3D"></a> 
               <div class="card-body">
                   <p class=" text-center title">SensationL3D</p>
                   <p class=" text-center sub-title">Iluminación Inteligente IoT  </p>
               </div> 
            </div>
            <div class="card col-one">
               <a href="https://wificar.herokuapp.com" target="_blanck"><img src="./img/car.webp" alt="sensationL3D"></a> 
               <div class="card-body">
                   <p class=" text-center title">Wifi Car</p>
                   <p class=" text-center sub-title">Controla un carrito por wifi en tiempo real</p>
               </div>
            </div>
          
        </div>
    </div>
</section>

<script src="/js/noeffects.js"></script>