<section class=" bg-uno pt-3 ">
    <div class="container">
        <p class="title-dos text-center">especialidad </p>
        <div class="grid-3">
            <div class="card_special c-1">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/gear.png" alt="gear">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Back-end</p>
                        <p class=" text-center sub-title">Uso <a href="https://nodejs.org/es/">NodeJS</a> porque me
                            permite crear aplicaciones escalables, de alto rendimiento que pueden trabajar en tiempo
                            real. Entre los framework mas populares uso Express, Socket.io, Helmet, Passport, Johnny-five, entre otros. Es de
                            codigo abierto y usa JavaScript al igual que el Front-end. </p>
                    </div>
                </div>

            </div>
            <div class="card_special c-2">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/web.png" alt="web">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Front-end</p>
                        <p class=" text-center sub-title">He usado algunos Motores de plantillas como <a
                                href="https://ejs.co/">Ejs</a>, <a
                                href="https://pugjs.org/api/getting-started.html">Pug</a>, aunque mi favorito es <a
                                href="https://handlebarsjs.com/">Handlebars</a>. En diseño uso <a
                                href="https://sass-lang.com/">Sass</a>, <a
                                href="https://getbootstrap.com/">Bootstrap</a> o <a
                                href="https://materializecss.com/">Materialize</a>. Además me encuentro empezando un
                            curso de <a href="https://es.reactjs.org/">Reactjs</a> del cual hasta el momento he
                            realizado ejemplos basicos y me parece fantastico. </p>
                    </div>
                </div>

            </div>
            <div class="card_special col-one">
                <div class="container">
                    <img src="https://img.icons8.com/cute-clipart/200/000000/server.png" alt="server">
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Data-base</p>
                        <p class=" text-center sub-title">En la Universidad usaba DB Relacionales como MySQL, Oracle,
                            pero en lo personal cuando utilizo NodeJS me gusta usar NoSQL como <a
                                href="https://www.mongodb.com/cloud">MongoDB</a>. Cabe mencionar que existen gran
                            variedad y son excelentes, su uso depende del proyecto a realizar. </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    
</section>