<section class="grid-2 bg-dos  pt-4 ">
    <div class="container text-right">
        <p class="title-tres">Sensation L3D</p>
        <p class="sub-title-tres">Es una API que pertime el control en tiempo real de luces LED RGB(multicolores)
            conectadas a una red Wifi. Iluminacion Inteligente a tu alcance IoT.</p>
    </div>
    <div class="container-special text-left">
        <a href="http://sensationled.herokuapp.com" target="_blanck">
            <img src="https://img.icons8.com/offices/160/000000/led-diode.png" alt="led">
            <img src="https://img.icons8.com/ultraviolet/160/000000/led-diode.png" alt="led">
        </a>
    </div>
</section>