@import "components/toggle_menu";
@import "components/grids";
@import "components/backgrounds";
@import "components/images";
@import "components/colors";
@import "components/text";
@import "components/buttons";
@import "components/circle_progress";
@import "components/media_min769";
@import "components/media_max414";
@import "components/media_max1400";
@import "components/paint-circle";
@import "components/footer.scss";
@import "components/form.scss";
@import "components/alert.scss";
@import "components/card.scss";
@import "components/telegram.scss";
@import "components/separator.scss";


@font-face {
  font-family: Orbitron;
  src: url('../Orbitron-VariableFont_wght.ttf'), url('../Orbitron-VariableFont_wght.ttf'), url('../Orbitron-VariableFont_wght.ttf'),
  url('../Orbitron-VariableFont_wght.ttf'), url('../Orbitron-VariableFont_wght.ttf'),
  url('../Orbitron-VariableFont_wght.ttf');
}


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  box-sizing: border-box;
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background: transparent;
  display: flex;
  border-bottom: none;
  li {
    flex-basis: 10rem;
    text-align: center;
  }
  a {
    color: #000;
    text-decoration: none;
    line-height: 4.5;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    font-weight: bold;
  }
  a:hover {
    background: $cereza-opacity-3;
    text-decoration-line: underline;
    border-radius: 15px; 
  }
}

nav {
  margin-top: 0;
  position: fixed;
  width: 100%;
  background-color: transparent;
  display: block;
  z-index: 1;
}

section {
  padding: 0;
  margin: 0;
  position: sticky;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 4rem;
  background-repeat: repeat;
  background-origin: border-box;
  background-attachment: fixed;
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0px 30px 30px 30px;
  align-content: center;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.container-special {
  padding-top: 3rem;
  margin: inherit;
  overflow: inherit;
  padding: 1rem 1rem;
  align-content: center;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  a {
    text-decoration: none;
  }
  img{
    max-width: 680px;
  }
}

.ir-arriba {
  display: none;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.menu_footer {
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background: transparent;
  display: flex;
  li {
    flex-basis: 10rem;
    text-align: center;
  }
  a {
    color: #000;
    text-decoration: none;
    line-height: 4.5;
    font-size: 1em;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    background-color: rgba(255, 255, 255, 1) !important;
    height: 100vh;
    .myimg {
      display: none;
    }
    a {
      font-size: 2em;
      font-weight: bold;
    }
  }

  .grid-2,
  .grid-4,
  .grid-3,
  .grid-1,
  .grid-form {
    height: 100% !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }

  .tx {
    padding: 1rem;
    text-align: left;
    margin: auto;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
  }
  .text-left {
    text-align: center;
    margin: auto;
  }

  .sub-title {
    font-size: 0.8rem;
    color: #8e8e8e;
  }
  .grid-fotos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 3rem;
  }
  .item img {
    height: 300px;
  }


  .nocellphone {
    display: none;
  }

  .mybtn {
    font-size: 1.2rem;
  }
  .p-3 {
    padding: 1rem;
  }
}


  .div-sec{
  position: absolute;
  margin:2rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: $bg-opacity-7;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
  border: 8px solid $bg-opacity-9;
  box-shadow: 10px 5px 5px $shadow-grey;
  }
 
  .div-sec-2{
    position: absolute;
    margin:2rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50%;
    background: $bg-opacity-7;
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top left;
    border: 8px solid $bg-opacity-9;
    box-shadow: 10px 5px 5px $shadow-grey;
    }

