<div class="container ">
    <div class="title-dos  text-center">
        <p>experiencia laboral</p>
    </div>
    <div class="container grid-2 text-center ">
        <div class="title ">
            <p>Validación y Back office, Call center American Express</p>
        </div>
        <div class="title-tres ">
            <p>Grupo EULEN | 08/2012 - 05/2016</p>
        </div>
    </div>
    <div class="grid-0 pb-3 ">
        <div class="sub-title-tres p-3 ">
            <p>- Generar reportes diarios  de  las diferentes campañas de American Express.</p>
            <p>- Validar y capturar en linea la información del cliente de American Express.</p>
            <p>- Brindar información a el cliente de American Express sobre tarjetas adicionales y seguros.</p>
             <p>- Asistir a los operadores telefónicos por medio de chat para consultar Scores en buro de credito.  </p>
            <p>- Asistir a los colaboradores de validación en la captura de datos en la plataforma de American Express, entrega de documentos por parte del cliente y venta cruzada de seguros.</p>
            <p>- Garantizar que los colaboradores de validación brinden un servicio de calidad a el cliente mediante el manejo correcto de vocabulario, información correcta del producto o servicio ofrecido.</p>
            <p>- Organización de los colaboradores de validación y toma de decisiones en operación.</p>
            <hr class="mt-1">
        </div>
    </div>
</div>