<div class="title  text-center ">
    {{!-- <p>Soy un desarrollador web con un gran interés en proyectos que requieren pensamiento conceptual y analítico. Con gusto por desarrollar App's modernas  y fáciles de usar. Tengo un deseo muy grande por seguir aprendiendo, llevar acabo una integración continua en equipo y ser parte del proceso que conlleva desplegar a  producción una aplicación. Apasionado por la música y  los Robots.
    </p> --}}
    <p>
        Como artista de la vida, me gusta explorar y experimentar con diferentes enfoques y formas de pensamiento, y esto me permite ver el mundo de una manera única y personal. Esto se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes.
    </p>
    <br>
    <a href="/aboutMe#contact" class="mybtn">Contactame</a>
</div>