<div class="title-dos  text-center ">
    <p>
        Como artista de la vida &#127912;, me gusta experimentar con diferentes enfoques y formas de pensamiento, esto me permite ver el mundo de una manera única y personal. Lo cuál se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes &#128640;.
    </p>
    <br>
     <button class="cyberpunk-button"> <a href="/about-me#contact">Contácteme</a></button>
</div>