<div class="title  text-center ">
    <p>Soy un desarrollador web con un gran interés en proyectos que requieren pensamiento conceptual y analítico. Con gusto por desarrollar App's modernas  y fáciles de usar. Tengo un deseo muy grande por seguir aprendiendo, llevar acabo una integración continua en equipo y ser parte del proceso que conlleva desplegar a  producción una aplicación. Apasionado por la música y  los Robots.
    </p>
    <br>
    <a href="/aboutMe#contact" class="mybtn">Contactame</a>
</div>