
<div class="container ">
        <p class="title text-center">habilidades </p>
    </div>
    <div class="grid-4 text-center">
        <div class="container">
            <div class="circular-progress html"></div>
        </div>
        <div class="container ">
            <div class="circular-progress css"></div>
        </div>
        <div class="container ">
            <div class="circular-progress js"></div>
        </div>
         <div class="container ">
            <div class="circular-progress java"></div>
        </div>
        <div class="container ">
            <div class="circular-progress mongo"></div>
        </div>
        <div class="container ">
            <div class="circular-progress expressjs"></div>
        </div>
        <div class="container ">
            <div class="circular-progress react"></div>
        </div>
        <div class="container ">
            <div class="circular-progress nodejs"></div>
        </div>
    </div>