<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CODELAB: Add iOS meta tags and icons -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Jesus Christian Castillo Lozano">
  <link rel="apple-touch-icon" href="/img/152.png">
  <meta name="theme-color" content="#40b4fa">
  <meta name="description" content="{{metaTags.description}}">
  <meta name="keywords" content="{{metaTags.keywords}}"> 
  <!--Open graph  -->
  <meta property="og:title" content="Jesus Christian Castillo Lozano">
  <meta property="og:image" content="/img/152.png">
  <meta name="google-site-verification" content="w9LvMacOhjnWHfvECc7jtMkKKcNVSzRQKAovVEuPhFI" />
  <!-- My style -->
  <link rel="stylesheet" href="./css/style.css">
  <!--me Js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150948906-1"></script>
  <title>Jesus Christian Castillo Lozano</title>
</head>

<body>
  {{>navbar}}
  {{{body}}}
  {{>footer}}
</body>

</html>