 <span class="ir-arriba"><img src="https://img.icons8.com/material-rounded/60/000000/circled-chevron-up.png" alt="logo"></span>
<section class="bg-uno">
<div class="pb-3">
{{>indexSections /seccionHeader}}
 {{>cv /cvIntro}}
</div>
<hr>
{{>cv /cvSchool}}
{{>cv /cvExperience}}
</section>

<section class="bg-cuatro">
{{>skills}}
</section>

<div class="title  text-center ">
   <p>Cualquier duda o comentario házmelo saber ...</p>
   
    <a href="/aboutMe#contact" class="mybtn mt-1">Contactame</a>
    <hr class="mt-1">
</div>


<script src="/js/helpers.js"></script>
<script src="./js/main.js"></script>