<span class="ir-arriba"><img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-Up-basic-functions-others-inmotus-design.png" alt="logo"></span>
<section class="bg-uno">
<div class="pb-3">
    {{> indexSections / sectionHeader}}
 {{>cv /cvIntro}}
</div>
<hr class="div-sec">
{{>cv /cvExperience}}
{{>cv /cvSchool}}

</section>

<section class="bg-seis pb-3">
{{>cv / skills}}
</section>

<div class="pt-3 text-center">
   <p class="title-dos">Cualquier duda o comentario házmelo saber ...</p>
   
     <button class="cyberpunk-button "> <a href="/about-me#contact">Contácteme</a></button>
    <hr class="mt-1 div-sec">
</div>


<script src="./js/helpers.js"></script>
<script src="./js/main.js"></script>