
<section class="grid-2 bg-uno text-center pt-4 ">

    <div class="container">
       
        <p class="title-dos">hola &#128516;</p>
        <p class="sub-title-dos">Mi nombre es Jesús Christian Castillo, soy de Coacalco Estado de México. </p>
        <p class="tx">
             Me considero un tecnólogo con una gran pasión por la tecnología y los avances científicos, especialmente en el campo de los robots y la inteligencia artificial.
        </p>
        <p class="tx">
             Mi amor &#129505; por la robótica y la cibertecnología me a llevado a ser un verdadero entusiasta del género
        <strong>CyberPunk 🤖</strong>, donde puedo encontrar inspiración para mi creatividad artística y mi visión de la vida.
        </p>
        <p class="tx">
              👨🏻‍💻 Como artista de la vida, me gusta explorar y experimentar con diferentes enfoques y formas de pensamiento, y esto me permite ver el mundo de una manera única y personal. 
             Esto se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes.
        </p>
        {{!-- <p class="tx">Estudié Ingeniería en informática en la Universidad Politécnica del Valle de México, dónde decidí
            profundizar y especializarme en la programación. Disfruto mucho realizar Aplicación usando NodeJS,
            eh desarrollado algunas App enfocadas a Internet de las cosas (IoT) para controlar dispositivos conectados a
            red WiFi.</p>
        <p class="tx">En la universidad tuve el gusto de colaborar con algunos maestros de la Universidad
            dedicados a la Investigación en donde realizamos algunas API para algunos Robots como Robonova 1 hecho por
            HiTec y DaNI hecho por National Instruments, además tuve la oportunidad de experimentar con el robot Nao
            hecho por Aldebaran Robotics con los cuales pude divertirme, aprender y desarrollar mis habilidades como
            programador. </p> --}}
        <p class="tx">
            Ademas me considero un tecnólogo con una gran pasión por la tecnología y los avances científicos, especialmente 
            en el campo de los robots y la inteligencia artificial.
        </p>    
         
           
    </div>
     
    <div class="container">
        <img src="./img/jesusChristianCastillo.webp" alt="photo jesus christian castillo" class="logo2">
    </div>
 <br><br>
</section>
<section class="bg-uno text-center">
 <div class="container">
    

        <p class="sub-title-dos">
       <em>En resumen </em> , Soy un individuo apasionado y curioso que combina su amor por la tecnología y la creatividad 
            para crear una visión de la vida única e inspiradora. <strong>¡Seguro que tengo mucho que ofrecer al mundo! &#x1F30E;</strong> 
        </p>  
 </div>
</section>

<section class="bg-cinco text-center " id="contact">
    {{> form}}
</section>
<script src="/js/noeffects.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>