
<section class="grid-2 bg-tres text-center pt-4 ">

    <div class="container">
       
        <p class="title-dos">hola &Uuml;</p>
        <p class="sub-title-dos">Mi nombre es Jesús Christian Castillo, soy de Coacalco Estado de México, siempre fuí
            un apasionado del mundo de la tecnología y la informática, al menos desde que alcanzo a recordar. </p>
        <p class="tx">Estudié Ingeniería en informática en la Universidad Politécnica del Valle de México, dónde decidí
            profundizar y especializarme en la programación Web. Disfruto mucho realizar Aplicación Web usando NodeJS,
            eh desarrollado algunas App enfocadas a Internet de las cosas (IoT) para controlar dispositivos conectados a
            red WiFi.</p>
        <p class="tx">En los últimos dos años tuve el gusto de colaborar con algunos maestros de la Universidad
            dedicados a la Investigación en donde realizamos algunas API para algunos Robots como Robonova 1 hecho por
            HiTec y DaNI hecho por National Instruments, además tuve la oportunidad de experimentar con el robot Nao
            hecho por Aldebaran Robotics con los cuales pude divertirme, aprender y desarrollar mis habilidades como
            programador. </p>
           
    </div>
     
    <div class="container">
        <img src="./img/nao.webp" alt="Logo" class="logo2">
    </div>
 <br><br>
</section>

<section class="bg-dos text-center " id="contact">
    {{> form}}
</section>
<script src="/js/noeffects.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>