
<section class="grid-2 bg-uno text-center pt-4 ">

    <div class="container">
       
        <p class="title">hola &#128516;</p>
        <p class="sub-title-tres">Mi nombre es Jesús Christian Castillo, soy de Coacalco Estado de México. </p>
        <p class="sub-title-dos pt-1">
             Me considero un tecnólogo con una gran pasión por la tecnología y los avances científicos, especialmente en el campo de los robots y la inteligencia artificial.
        </p>
        <p class="sub-title-dos pt-1">
             Mi amor &#129505; por la robótica y la cibertecnología me a llevado a ser un verdadero entusiasta del género
        <strong>CyberPunk 🤖</strong>, donde puedo encontrar inspiración para mi creatividad artística y mi visión de la vida.
        </p>
        <p class="sub-title-dos pt-1">
              👨🏻‍💻 Como artista de la vida, me gusta explorar y experimentar con diferentes enfoques y formas de pensamiento, y esto me permite ver el mundo de una manera única y personal. 
             Esto se refleja en mi creatividad y mi capacidad para crear y construir cosas innovadoras y emocionantes.
        </p>
        <p class="sub-title-dos pt-2">
            Ademas me considero un tecnólogo con una gran pasión por la tecnología y los avances científicos, especialmente 
            en el campo de los robots y la inteligencia artificial.
        </p>    
         
           
    </div>
     
    <div class="container">
        <img src="./images/jesusChristianCastillo.webp" alt="photo jesus christian castillo" class="logo2">
    </div>
 <br><br>
</section>
<section class="bg-uno text-center">
 <div class="container">
    

        <p class="sub-title-tres pb-3">
       <em>En resumen </em> , Soy un individuo apasionado y curioso que combina su amor por la tecnología y la creatividad 
            para crear una visión de la vida única e inspiradora. <strong>¡Seguro que tengo mucho que ofrecer al mundo! &#x1F30E;</strong> 
        </p>  
 </div>
</section>

<section class="bg-cinco text-center " id="contact">
    {{> form}}
</section>
<script src="/js/noeffects.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>