<section class="bg-uno pt-3 ">
    <div class="container">
        <p class="title-dos text-center">algunos proyectos </p>
        <div class="grid-3">
            <div class="card c-1">
                <div class="container">
                    <a href="https://github.com/jesus-khristian/Robonova1-nodeJS-Johnny-five-Arduino" target="_blanck"><img src="./img/robonova1.webp"
                            alt="robonova"></a>
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Robonova 1</p>
                        <p class=" text-center sub-title">Control de 17 Servo motores via Wifi en tiempo real </p>
                    </div>
                </div>
            </div>
            <div class="card c-2">
                <div class="container">
                    <a href="https://sensationled.herokuapp.com" target="_blanck"><img src="./img/sled310.webp"
                            alt="sensationL3D"></a>
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Sensation LED</p>
                        <p class=" text-center sub-title">Iluminación Inteligente IoT </p>
                    </div>
                </div>
            </div>
            <div class="card col-one">
                <div class="container">
                    <a href="https://wificar.herokuapp.com" target="_blanck"><img src="./img/car.webp"
                            alt="wificar"></a>
                </div>
                <div class="container">
                    <div class="card-body">
                        <p class=" text-center title">Wifi Car</p>
                        <p class=" text-center sub-title">Control de un carrito via LAN en tiempo real</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</section>

<script src="/js/noeffects.js"></script>