<section class="bg-uno pt-3">
    <div class="container">
        <p class="title-dos text-center">algunos proyectos </p>
        <div class="grid-2">
   
{{> projects / card}}

        </div>
    </div>
    <br><br><br>
</section>

<script src="/js/noeffects.js"></script>
